<footer class="bg-black mt-auto  "  >


    
        <div class=" flex  left-0 bottom-0 justify-between ">
            <div class=" flex  py-2 mr-10 ">
                <a href="{% url 'home' %}" class = "text-white px-3  hover:text-slate-100 inline-block  ">

                   <h1 class="hover:text-gray-300">
                    احدث المنتجات
                    </h1>
                </a>
                <a href="{% url 'home' %}"  class = "text-white px-3 inline-block ">
                   <h1  class="hover:text-gray-300"> منتجات مختارة </h1></a>
                
                <a href="{% url 'home' %}" class = "text-white px-3 inline-block ">
                    <h1  class="hover:text-gray-300"> تخفيضات والعروض </h1></a>
              
                <a href="{% url 'home' %}" class = "text-white px-3 inline-block ">
                    <h1  class="hover:text-gray-300" >
                        المتاجر
                    </h1></a>
            </div>






              <!---logo---->
     
           <!-- <h6 class="text-white text-4xl -mt-1">LOGO</h6>    -->
           <div class="ml-10">
             
            <h1 class="text-2xl  mt-2 text-white"><span class="text-teal-300">الشورجة</span> بيدك</h1>
           </div>
        </div>
  
        
          

  
 


</footer>
