{% load static %}
{% block static %}
<link rel="stylesheet" type="text/css" href="{% static 'jumla/pag.css' %}">

{% endblock %}

<div class="flex justify-center p-5 ">
  {% if page_elements.has_next %}
  <a href="?page={{ page_elements.next_page_number }}" class="hover:text-white">
    <button  class="hover:text-white font-light  border w-36 h-10  bg-black focus:outline-none focus:ring-1 focus:ring-gray-300  ">
        <div class="inline-flex items-center">
            <h1 class="mb-1 mr-2 ">   مشاهدة المزيد</h1>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2 fill-current " viewBox="0 0 20 20" >
                <path fill-rule="evenodd" d="M9.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L7.414 9H15a1 1 0 110 2H7.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd" />
              </svg>


        </div>


    </button></a>
    {% endif %}


    {% if page_elements.has_previous %}
    <a href="?page={{ page_elements.previous_page_number }}" class="hover:text-white">
      <button  class="hover:text-white font-light  border w-36 h-10  bg-black focus:outline-none focus:ring-1 focus:ring-gray-300  ">
          <div class="inline-flex items-center ">
            
              <h1 class="  ">  الرجوع</h1>
          
             
  
  
          </div>
  
  
      </button></a>
    {% endif %}
</div>


