{% extends 'jumla/base/base.html' %}
{% load static %}

{% block content %}

<div class="mt-40 ">

      
    <div class="rounded w-5/6  container mx-auto p-2 bg-neutral-100 ">

      <div class="flex   flex-col justify-center items-center ">
          {% for bill in page_elements %}

        <div class="rounded w-11/12  shadow bg-white m-5  flex flex-col  ">
            
            <div class="bg-violet-50 rounded-t">
                <div class="flex  justify-around mt-5 mb-5" >
             
                    <h1 class="mr-2 text-sm ">اسم المتجر : <span>
                      {{ bill.shop.shopName }}
                    </span></h1>

                      <h1  class="mr-2 text-sm">  رقم الهاتف: <span>
                       {{ bill.shop.shopOwner.phone_number }}
                      </span></h1>

                        <h1  class="mr-2 text-sm">   العنوان المتجر: <span>
                        {{ bill.shop.shopOwner.address }}
                         </span></h1>

                          <h1  class="mr-2 text-sm">    اجمالي الفاتورة : <span>
                           {{ bill.total }}                          </span></h1>
{#                             <h1>#}


                </div>
            </div>
     
          
          <div class="border border-gray-100 "></div>
          
          <div class="flex justify-center">
          
                <div class="flex flex-col justify-center p-5  h-full">
                    <!-- Table -->
                    <div class="w-full  bg-white  rounded-sm border border-gray-300">
                     
                        <div class="p-3">
                            <div class="overflow-x-auto">
                                <table class="table-auto w-full">
                                    <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
                                        <tr>
                                            <th class="p-2 whitespace-nowrap">
                                                <div class="font-semibold text-center">المنتج</div>
                                            </th>
                                            <th class="p-2 whitespace-nowrap">
                                                <div class="font-semibold text-center">الصنف</div>
                                            </th>

                                            <th class="p-2 whitespace-nowrap">
                                                <div class="font-semibold text-center">الكمية </div>
                                            </th>
                                            <th class="p-2 whitespace-nowrap">
                                                <div class="font-semibold text-center"> السعر </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-sm divide-y divide-gray-100">
                                    {% for product in bill.products.all %}
                                        <tr>
                                            <td class="p-2 whitespace-nowrap">
                                                <div class="flex items-center">
                                                    <div class="w-10 h-10 flex-shrink-0 mt-2 mr-2 sm:mr-3">

                                                        <img class="rounded-full" src="{{ product.item.Image_Product.first.image.url}}" width="40" height="40" alt=""></div>
                                                    <div class="font-medium  mr-2 text-gray-800">
                                                        {{ product.item.ProductName }}
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="p-2 whitespace-nowrap">
                                                <div class="text-center">
                                                    {{ product.item.Category }}
                                                </div>
                                            </td>

                                            <td class="p-2 whitespace-nowrap">
                                                <div class="text-sm text-center"> {{ product.qty }}</div>
                                            </td>
                                            <td class="p-2 whitespace-nowrap">
                                                <div class="text-sm text-center">{{ product.item.price }} </div>
                                            </td>
                                        </tr>
                                    {% endfor %}


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
         
          </div>
      </div>
           {% endfor %}
     

                    </div>
               
    </div>
</div>
{% include 'jumla/base/paginator.html' %}


{% endblock content %}
