{% extends 'jumla/base/base.html' %}
{% load static %}

{% block content %}
<div class="flex justify-center p-5 m-5">
    <div class=" shadow-md  rounded-lg max-w-lg">
        <a href="#">

            <img class="rounded-t-lg" src="{{ product.Image_Product.first.image.url }}" alt="">
        </a>
        <div class="flex justify-center p-5 mt-4 ">
            {% for image in product.Image_Product.all %}
             <div class="card">
                <img class="w-24 h-24 rounded" src="{{ image.image.url }}" alt="">
            </div>
            {% endfor %}
        </div>
        
    </div>
    <div class=" w-3/6 h-full rounded ">
        <div class="  p-5 -mt-2">
            <div class="flex mb-5 justify-around ">
                <h1 class="ml-28 -mr-10 text-right text-xl font-semibold">{{ product.ProductName }} </h1>
                <h1 class=" text-lg font-semibold">{{ product.price }} IQD</h1>
            </div>
            <p class="text-right ">{{ product.description }}</p>
            <div class="flex mt-5  ">

  
    
                <!--- size buttons-->
                  <div class="flex flex-col mr-5 ">
                    <h1 class=" text-right  text-xl font-medium">الحجم</h1>
                    <div class=" float-right  flex mt-2.5  ">
                      <div>
                          <button class=" focus:border-3  focus:shadow-xl  focus:shadow-indigo-500/40 focus:bg-gray-200 focus:outline-none    w-10 h-10 focus:rounded-lg  m-1 ">XXL</button>
                      </div>
                      <div>
                          <button class="focus:border-3  focus:shadow-xl  focus:shadow-indigo-500/40  focus:bg-gray-200 focus:outline-none    w-10 h-10 focus:rounded-lg  m-1">XL</button>
                      </div>
                      <div>
                          <button class="focus:border-3  focus:shadow-xl  focus:shadow-indigo-500/40  focus:bg-gray-200 focus:outline-none    w-10 h-10 focus:rounded-lg  m-1">L</button>
                      </div>
                      <div>
                          <button class="focus:border-3  focus:shadow-xl  focus:shadow-indigo-500/40  focus:bg-gray-200 focus:outline-none    w-10 h-10 focus:rounded-lg  m-1 ">M</button>
                      </div>
                      <div>
                          <button class="focus:border-3  focus:shadow-xl  focus:shadow-indigo-500/40 focus:bg-gray-200  focus:outline-none    w-10 h-10 focus:rounded-lg  m-1 ">S</button>
                      </div>
                  </div>
                  </div>
                    <!----quantity-->

              </div>
            <div class="w-full h-px bg-gray-400 mt-5 "></div>

            <div class="flex justify-around mt-5">
                <div class="flex mt-4">
                
                 <div class="mt-4">
                    <div class="dropdown">
                        <button class="rounded-full outline-0 mr-2 mt-1 w-10 h-10 bg-gray-200 p-0 border-2 border-white  focus:outline-none focus:ring-2 focus:ring-gray-300 inline-flex items-center justify-center text-gray-500" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                              </svg>
                          </button>
                
                      
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <div class="flex flex-col text-center">
                                <div class="flex justify-around p-2">
                                    <h1 class="font-semibold  ">{{ product.shopOwner.shopName}}</h1>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 -mx-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
                                      </svg>
                                </div>
                              
                                <div class="dropdown-divider"></div>
                                <div class="flex justify-around p-2">
                                    <h1 class="font-semibold text-sm ">الكرادة</h1>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 -mx-10 w-5" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd" />
                                      </svg>
                                </div>
                               
                                <div class="dropdown-divider"></div>
                                <div class="flex justify-around p-2">
                                    <h1 class="font-semibold   ">045546564152</h1>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 mr-2 w-5" viewBox="0 0 20 20" fill="currentColor">
                                        <path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z" />
                                      </svg>
                                </div>
                             
                            </div>
                        </div>
                      </div>

                 </div>
                   
                     
                </div>

                <div class="mt-4 mr-36">
                    {% if user.is_authenticated %}
          {% if  request.user.groups.all.first.name == "customer" %}
                                    <button id="btn"
                                            data-product_id="{{ product.id }}"
                                            data-bill_id="{{ bill.id }}"
                                            class="  transition ease-in-out delay-150  hover:-translate-y-1 hover:scale-110 mt-4 text-gray-800  font-light  border-t w-30 h-10      focus:ring-0   focus:border-t-2 ">
                                            <div class="inline-flex items-center">
                                                <h1 class=" mr-2  text-sm">  اضف الى السلة</h1>
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1 mb-1" viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
                                                  </svg>
                                            </div>
                                    </button>
                                    {% endif %}
                                    {% endif %}


                  </div>

            </div>
          
              
     
        
       
              <div class="flex justify-content-center  mt-10">
             
          
                  
                  
            </div>
 
      





        </div>
    
          
    </div>
</div>

{% block static %}

      {% if user.is_authenticated %}
          {% if  request.user.groups.all.first.name == "customer" %}
    <script  src="{% static 'js_backend/delete_from_cart_order.js' %}"></script>
 
    

    {% endif %}
    {% endif %}

{% endblock %}
{% endblock content %}
